<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<link
			rel="icon"
			href="/favicon.ico"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Astro KIK</title>
	</head>
	<body>
		<header>
			<div>
				<a href="/">Home</a>
			</div>
			<div>
				<a href="/about">About</a>
			</div>
			<div>
				<a href="/articles">Articles</a>
			</div>
		</header>
		<h1>Blog page</h1>
        <p>Here is a list of all blog articles</p>
	</body>
</html>
